@model IEnumerable<ck.Models.Movie>

<h3 class="text-center my-4">More Movies Like This</h3>
<section class="p_3">
    <div class="container-xl">
        <div class="row trend_2">
            @foreach (var movie in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="trend_2i position-relative">
                        <div class="trend_2i1">
                            <img src="@movie.MovieImage" class="w-100" alt="@movie.MovieName">
                        </div>
                        <div class="trend_2i2 bg_back position-absolute w-100 h-100 top-0 px-4">
                            <h6 class="font_14 text-light">@movie.genre.Name / @movie.Capacity Minute</h6>
                            <h5>
                                <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id">@movie.MovieName</a>
                            </h5>
                            <h6 class="mb-0 mt-3">
                                <a class="button_1 p-2 px-3 font_14" href="@Url.Action("GetTicket", "Showtimes", new { movieId = movie.Id })">Get Ticket</a>
                            </h6>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
